@import "generales";
@import "navbar";
@import "titulos-parrafos";
@import "footer";



/* Comenzamos por la Media Querie de 0 a 576 px */

/* Contruimos el diseño para index.html */


/* Class grilla-imagen del conjunto de la foto-tapa, datos y frase */

.grilla-imagen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    justify-items: center;
}

.imagen {
    width: 65%;
    border: 2px solid black;
    margin-left: 1em;
}

/* Class de los datos del recuadro */

.grilla-datos {
    padding: 20px 1em 10px 0em;
    list-style-type: none;
    font-size: 14px;
    border: 2px solid black;
    width: 75%;
    height: 90%;
    margin-left: 1em;
}

/* Oración inferior */

.summary {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.frase {
    font-size: 14px;
    color: black;
    border: 2px solid black;
    margin: 1.5em 0em 0.5em 1.3em;
    padding: 10px 1em 10px 1em;
    width: 50%;
}

.grilla-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    border: 2px solid black;
    width: 80%;
    margin-left: 1em;
    margin-top: 0.3em;
}

.trenes {
    border: 2px solid black;
    width: 65%;
    margin-left: 1em;
}

.gheto {
    border: 2px solid black;
    width: 65%;
    margin-left: 1em;
}




/* Declaramos areas para grid-area */

header {
    grid-area: header;
}

h1 {
    grid-area: titulo;
}

.grilla-imagen {
    grid-area: imagen;
}

.summary {
    grid-area: summary;
}

grilla-aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

/* Acomodamos la grilla principal */

.grilla-principal {
    display: grid;
    grid-template-areas:
        "header"
        "titulo"
        "imagen"
        "summary"
        "aside"
        "footer";
}

/* Aplicamos diseño para presentacion.html */

.vistula {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vistula1 {
    margin-right: 0.7em;
    margin-bottom: 2em;
    border: 3px solid black;
    width: 90%;
}

.vistula2 {
    margin-bottom: 2em;
    margin-right: 0.7em;
    border: 3px solid black;
    width: 90%;
}

.vistula3 {
    margin-right: 0.7em;
    margin-bottom: 2em;
    border: 3px solid black;
    width: 90%;
}


/* Aplicamos diseño para personajes.html */

.contper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgper {
    width: 100%;
    border-bottom: 2px solid black;
    height: 15em;
}

.txtper {
    text-align: center;
    font-size: 14px;
    height: 15em;
}

.bordeper {
    border: 2px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.transf:hover {
    transform: scale(1.2);
}

/* Aplicamos diseño para marco.html */

.marco {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.cenizas {
    margin: 1em;
    font-size: 14px;
    font-weight: lighter;
    font-style: normal;
    text-align: justify;
}

.holocausto {
    background-color: rgb(252, 250, 228);
    margin: 1em;
}

.parrafohol {
    margin: 1em;
    font-size: 14px;
    font-weight: lighter;
    font-style: normal
}

.fotohol {
    height: 30%;
    width: 90%;
    margin: 1em 1em 1em 1em;
}

/* Aplicamos diseño para página contacto.html */

.parcont {
    margin: 1em;
    font-size: 14px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    height: 20px;
    color: rgb(228, 36, 36);
    background-color: whitesmoke;
    margin: 1em;
    font-size: 12px;
    font-weight: normal;
}

.div2 {
    width: 90%;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(228, 36, 36)e;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 2em;
}

.div3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    height: 20px;
    color: rgb(228, 36, 36);
    background-color: whitesmoke;
    margin: 1em;
    font-size: 12px;
    font-weight: normal;
}

.div4 {
    @extend.div2;
}

.div5 {
    @extend.div4;
    height: 80px;
    margin-bottom: 1em;
}



/* Continuamos por la Media Querie de 576 a 768 px */


@media (min-width: 576px) {


/* Construimos el diseño para index.html */

    .trenes {
        
        width: 55%;
        margin-left: 1em;
    }
    
    .gheto {
        
        width: 55%;
        margin-left: 1em;
    }

    .grilla-datos{
        font-size: 16px;
    }

    .frase {
        font-size: 16px;
    }
    
/* Contruimos el diseño para marco.html */

    .cenizas {
        font-size: 16px;
    }

    .parrafohol {
        font-size: 16px;
    }

/* Contruimos el diseño para contacto.html */ 

    .parcont {
        font-size: 16px;
    }

    .div1 {
        font-size: 14px;
    }
}


/* Continuamos por la Media Querie de 768 a 992 px */


@media (min-width: 768px) {

/* Construimos el diseño para index.html */

.grilla-datos {
    margin-top: 0.5em;
}

.frase {
    margin-top: 2.3em;
}

.grilla-aside{
    margin-bottom: 0.5em;
}

.trenes {
        
    width: 45%;
    margin-left: 1em;
}

.gheto {
    
    width: 45%;
    margin-left: 1em;
}

/* Diseño para presentacion.html */

    .press {
        margin-top: 2em;
        margin-bottom: 5em;

    }

    .vistula {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 25em;
    }

    .vistula1 {
        width: 10em;
        height: 10em;
        margin-left: 2em;
    }

/* Incluimos una animación de rotación y acercamiento para la foto 1 */

    .vistula1:hover {
        animation: foto1 3s;
    }

    @keyframes foto1 {
        10% {
            transform: rotate(360deg);
        }

        60% {
            transform: scale(2);
        }

    }

    .vistula2 {
        width: 15em;
        height: 10em;
    }

/* Incluimos una animación de rotación y acercamiento para la foto 2 */

    .vistula2:hover {
        animation: foto2 3s;
    }

    @keyframes foto2 {
        10% {
            transform: rotate(360deg);
        }

        60% {
            transform: scale(2);
        }

    }

    .vistula3 {
        width: 10em;
        height: 10em;
    }


/* Incluimos una animación de rotación y acercamiento para la foto 3 */

    .vistula3:hover {
        animation: foto3 3s;
    }

    @keyframes foto3 {
        10% {
            transform: rotate(360deg);
        }

        60% {
            transform: scale(2);
        }
    }


/* Diseño para página personajes.html */

/* Centrado de última foto */

    .ingrid {
        width: 100%;
    }


/* Diseño para página contacto.html */

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: initial;
    }

/* Se define a continuación la variable $fsize y se efectúa una operación sencilla para el height */

    $fsize: 18px;

    .div1 {
        width: 20%;
        height: ($fsize*3)-4;
        border: 2px solid black;
        color: white;
        background-color: rgb(228, 36, 36);
        margin: 6.5em 1em 2em 4em;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
    }

    .div2 {
        width: 40%;
        height: 50px;
        border: 2px solid black;
        background-color: whitesmoke;
        margin: 7.4em -1em 0em 2.5em;
        }

    .div3 {
        width: 20%;
        height: ($fsize*3)-4;
        border: 2px solid black;
        color: white;
        background-color: rgb(228, 36, 36);
        margin: 0em 3em 2em 5em;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
    }

    .div4 {
        @extend.div2;
        margin-top: 0em;
        margin-left: 0em;
        margin-right: 0em;
    }

    .div5 {
        @extend.div4;
        height: 200px;
        margin-bottom: 10em;
    }

}

/* Continuamos por la Media Querie superior a los 992 px */

@media (min-width: 992px) {

/* Diseño página index.html */

    .grilla-imagen {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .imagen {
        width: 55%;
        border: 2px solid black;
        margin-left: 2em;
    }

    .grilla-datos {
        padding: 20px 1em 10px 0em;
        list-style-type: none;
        font-size: 18px;
        border: 2px solid black;
        width: 65%;
        height: 95%;
        margin-left: 1em;
        margin-right: 1em;
    }

    .summary {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        
    }
    
    .frase {
        font-size: 18px;
        color: black;
        margin: 1.5em 0em 1.5em 1.3em;
        padding: none;
        width: 100%;
        border: none;
    }

    .grilla-aside {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 2em;
    }
    
    iframe {
        border: 2px solid black;
        width: 90%;
        height: 15em;
        margin-left: 2em;
    }
    
    .trenes {
        border: 2px solid black;
        width: 25%;
        height: 15em;
        margin-left: 0px;
    }
    
    .gheto {
        border: 2px solid black;
        width: 25%;
        height: 15em;
        margin-left: 2em;
        margin-right: 0px;
    }
    


/* Diseño página presentación.html */

    .vistula {
        display: flex;
        flex-direction: row;
        margin-left: 5px;
        margin-bottom: 15px;
    }

    .vistula1 {
        height: 10em;
        border: 2px solid black;
        margin-bottom: 8px;
    }

    .vistula2 {
        height: 10em;
        border: 2px solid black;
        margin-bottom: 8px;
    }

    .vistula3 {
        height: 10em;
        border: 2px solid black;
        margin-bottom: 8px;
    }

    

/* Diseño para página personajes.html */

/* Descentrado de última foto */

    .ingrid {
        width: 33%;
    }


/* Diseño para página marco.html */

    .holocausto {
        display: grid;
        grid-template-columns: 8fr 1fr;
        grid-template-rows: 10em;
        column-gap: 19px;
        margin-bottom: 3em;
        background-color: rgb(252, 250, 228);
        border: 1px solid rgb(228, 36, 36);
        height: 7em;
    }

    .cenizas {
        font-size: 18px;
    }

/* Incluimos un mixin, que se utiliza en la siguiente class */

@mixin font ($size, $weight, $style) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
}


.parrafohol {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    margin-left: 10px;
    height: 5em;
    width: 100%;
    @include font (16px, lighter, normal);
}


.fotohol {
    height: 5em;
    width: 80%;
    border: 1px solid rgb(228, 36, 36);
}

/* Diseño para página contacto.html */

.parcont {
    font-size: 18px;
}

.div1 {
    font-size: 18px;
}

}



