@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300 & family= Roboto & display=swap');

*{
    margin: 0; 
    padding: 0;
}

/* Comenzamos con el diseño para el index.html */

body{
    background-color: cornsilk;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

header{
    font-size: large;
    display: grid;
    padding: 10px 0px 10px 10px;
}

header, footer{
    background-color: #97bcdb9e;
    border: 1px solid black;
}

h1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.grilla-imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen{
    margin-left: 3px;
    border: 5px solid black;
    width: 95%;
}

.grilla-datos{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1.5em;
    list-style-type: none;
}

nav ul li{
    list-style-type: none;
    padding-left: 10px;
}

a{
    text-decoration: none;
}

aside{
    display: grid;
    justify-items: center;
}

.summary{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: blueviolet;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Declaramos areas para grid-area */

header{
    grid-area: header;
}

h1{
    grid-area: titulo;
}

.grilla-total{
    grid-area: total;
}

.grilla-imagen{
    grid-area: imagen;
}

.grilla-datos{
    grid-area: datos;
}

.sum{
    grid-area: sum;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

/* Acomodamos la grilla principal */

.grilla-principal{
    display: grid;
    grid-template-areas: 
    "header"
    "titulo"
    "imagen"
    "datos"
    "sum"
    "aside"
    "footer";
    gap: 5px;
}

iframe{
    border: 5px solid black;
    width: 95%;
}

/* Aplicamos diseño para presentación.html */

.press{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 5px 0px 5px;
}

h2{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

footer, header{
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: none;
}

p{
    color: black;
    font-style: normal;
    font-size: 15px;
    text-align: justify;
    line-height: 20px;
    letter-spacing: 2px;
    word-spacing: 1px;
    padding-bottom: 20px;
}

span{
    font-style: oblique;
}

.vistula{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 15px;
}

.vistula1{
    height: 18em;
}

.vistula3{
    height: 20em;
}

.vistula1, .vistula2, .vistula3{
    border: 2px solid black;
    margin-bottom: 5px;
}



@media (min-width: 500px){

.imagen{
    border: 5px solid black;
    width: 80%;
    margin: 20px 0px 0px 0px;
}

.grilla-datos{
    padding-top: 0px;
    padding-left: 10px;
    margin-top: 2em;
    height: 10%;
}

body{
    background-color: rgb(191, 235, 220);
}

a{
    color: white;
}

header, footer{
    background-color: rgb(121, 233, 121);
}

.sum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    height: 5%;
    padding: 0em 2em 2em 2em;
}

.summary{
    color: green;
}


/* Aplicamos diseño para presentacion.html */

p{
    font-size: 18px;
    padding-bottom: 30px;
}

.vistula{
    display: flex;
    flex-direction: colum;
    align-items: center;
}

.vistula1{
    width: 10em;
    height: 10em;
}

.vistula2{
    width: 15em;
    height: 10em;
}

.vistula3{
    width: 15em;
    height: 10em;
    margin-bottom: 2em;
}

}

@media (min-width: 768px){

body{
    display: flex;
    width: 100%;
    height: 90%;
}

.grilla-total{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "imagen datos"
    "sum sum";
}

.grilla-datos{
    margin: 2em 1em 2em 1em;
    padding: 2em 1em 2em 1em;
    width: 75%;
    height: 180px;
    border: 1px solid black;
}

.grilla-principal{
    display: grid;
    grid-template-areas: 
    "header"
    "titulo"
    "total"
    "aside"
    "footer";
}

.sum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    height: 66%;
    padding: 1em 2em 1em 2em;
}

header, footer{
    background-color: rgb(14, 199, 206);
}

/* Diseño para presentacion.html */

.vistula{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vistula1{
    width: 10em;
    height: 10em;
    margin-left: 2em;
}

.vistula2{
    width: 15em;
    height: 10em;
}

.vistula3{
    width: 10em;
    height: 10em;
    margin-right: 2em;
    margin-top: 1.7em;
}

}

@media (min-width: 1024px){

.grilla-total{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "imagen datos"
    "imagen sum";
    padding-bottom: 20px;
    }

.sum{
    margin: 2em 1em 2em 1em;
    padding: 2em 1em 2em 1em;
    width: 75%;
    height: 100px;
    border: 1px solid black;
}

.summary, .grilla-datos, h1{
    color: rgb(59, 7, 7);
}

.imagen{
    border: 3px solid rgb(59, 7, 7);
}

header{
    padding-right: 10px;
}

nav ul{
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 90%;
    height: 50px;
}

aside{
    width: 100%;
    margin: none;
    padding: none;
}

body{
    background-color: rgb(212, 179, 179);
}

header, footer{
    background-color: rgb(105, 3, 3)
}

/* Aplicamos diseño para presentación.html */

.press{
    padding-top: 1em;
}

.vistula1{
    width: 10em;
    height: 10em;
    margin-left: 2em;
}

.vistula2{
    width: 15em;
    height: 10em;
}

.vistula3{
    width: 10em;
    height: 10em;
    margin-right: 2em;
    margin-top: 1.7em;
}

.her{
    width: 250px;
    height: 250px; 
    border: 3px solid black;
    margin-left: 10px;
}


}